In [ ]:
1. 
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
a database is usually controlled by a database management system

diffenence-
MySQL is a relational database management system that uses SQL. 
whereas SQL is primarily used to query and operate database systems, MySQL enables you to store, handle, delete, and modify data in an organized way.
As for NoSQL, it is a non-relational database that does not use SQL

In [ ]:
2.
DDL-A data definition language  is a computer language used to create and modify the structure of database objects in a database. 
these database objects include views, schemas, tables, indexes, etc.
create- this command is used to create database.
drop-this command is used to delete the table
alter-used to add ,delete,mofify column in existing table
truncate- it deletes the data inside a table, but not the table itself.

In [ ]:
3.
dml- it is used to do manipulation in the database

insert-insert data in to the table
update-uded to update exsiting data in the database
delete-used to delete the data

In [ ]:
4.
dql-used to do queries in the database to reterieve data in the organised way
example-
SELECT CustomerName, City FROM Customers;

In [ ]:
5.
primary key- the primary key is the key by which we can uniquely idnetify the data inthe column.
for example roll no will be the unqiue for every student
foreign key - it is used to build relationship between two table.if on key is primary key then it will act as the 
foreign key for the other table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

A cursor is an object which helps to execute the query 
and fetch the records from the database